# Python
__pycache__/
*.py[cod]
*.egg-info/
*.egg

# Runtime (download separately)
models/*
!models/.gitkeep
windows_runtime/bin/*
!windows_runtime/bin/.gitkeep
windows_runtime/VC运行库/*
!windows_runtime/VC运行库/.gitkeep
windows_runtime/WPy64-312101/

# Node
node_modules/
frontend/uploads/
package-lock.json

# Outputs
outputs/
uploads/

# IDE
.idea/
.vscode/
*.swp
*.swo

# OS
Thumbs.db
.DS_Store
Desktop.ini

# Environment
.env
*.log